body {
    min-width: 960px;
    font-size: 14px;
    line-height: 24px;
    font-family: "Cuprum", "Arial", sans-serif;
   text-transform: none;
    color: #000;
    background: #fff;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

/*------Верхний блок Header-а-----*/

.header-up {
    background: #293449;
    color: #fff;
    margin: 0;
    padding: 0;
    min-height: 42px;
    
}

.header-up-block .header-link {
    display: block;
    float: left;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background: #ee3643;
    padding: 12px 52px;
    
    text-decoration: none;
    box-shadow: 0 5px 0 #b52933;
}

.header-up-block .header-link:hover {
    background: #ca2c37;
    box-shadow: 0 5px 0 #9a212a;
}

.header-up-block .header-link:active {
    background: #ba2732;
    box-shadow: 0 5px 0 #8e1e26;
}

.search {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 49px;
    float: left;
    margin-right: 17px;
    width: 221px;
    
}



.search input {
    display: block;
    float: left;
    background: #293449;
    padding-top: 14px;
    padding-bottom: 16px;
    width: 221px;
    border: none;
    outline: none;
}


.search::before {
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: #f6b22d;
    top: 11px;
    left: 18px;
    
}

.search:hover, .search input:hover {
    background: #212a3a;
}



input::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 17px;
    font-weight: normal;
    color: #fff;
    outline: none;
}

input:-moz-placeholder {
    font-size: 17px;
    line-height: 17px;
    font-weight: normal;
    color: #fff;
    outline: none;
}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.header-up-bookmark {
    position: relative;
    display: block;
    float: left;
    color: #fff;
    width: 96px;
    text-decoration: none;
    padding-left: 27px;
    padding-bottom: 14px;
    padding-top: 14px;
    padding-right: 10px;
    font-size: 17px;
    line-height: 20px;
   
    
}

.header-up-bookmark::before {
    position: absolute;
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    background: #f6b22d;
    top: 12px;
    left: 0px;
}

.header-up-bookmark:hover {
    background: #212a3a;
}

.header-up-bookmark:active {
    background: #161d29;
    color: #a7a8ab;
}

.header-up-basket {
    position: relative;
    display: block;
    float: left;
    color: #fff;
    width: 90px;
    padding-left: 50px;
    padding-right: 10px;
    padding-bottom: 14px;
    padding-top: 14px;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

.header-up-basket::before {
    position: absolute;
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: #f6b22d;
    top: 12px;
    left: 17px;
}

.header-up-basket:hover {
    background: #212a3a;
}

.header-up-basket:active {
    background: #161d29;
    color: #a7a8ab;
}

.header-up-order {
    display: block;
    float: left;
    color: #fff;
    padding-left: 21px;
    padding-right: 22px;
    background: #63a63e;
    padding-bottom: 14px;
    padding-top: 14px;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    
}

.header-up-order:hover {
    background: #5fbb2d;
}

.header-up-order:active {
    background: #518534;
    color: #b1c5a8;
}
/*-------Средний блок Header-а----------*/

.header-middle-description {
    width: 198px;
    display: block;
    float: left;
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    margin: 0;
    margin-top: 54px;
    margin-left: 52px;
    margin-right: 70px;
    
    
}

.header-middle {
    background: #f1f5f7;
    margin-bottom: 59px;
   
}

.header-middle-contact {
    float: left;
    width: 270px;
    
    
}

.header-middle-telephone {
    position: relative;
    font-size: 18px;
    line-height: 21px;
    color: #e9292a;
    margin: 0;
    margin-top: 46px;
    margin-bottom: 8px;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 72px;
    padding-right: 50px;
    border: 3px solid #fff;
    
}

.header-middle-telephone::before {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    top: 11px;
    left: 13px;
    background: #f6b22d;
    
}


.header-middle-adress {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    margin: 0;
    margin-bottom: 43px;
}

.header-middle-registration  {
    float: right;
    display: block;
    margin-top: 46px;
    margin-left: 10px;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 10px;
    background: #fff;
    width: 150px;
    text-align: center
}



.header-middle-login {
     position: relative;
    float: right;
    display: block;
    margin-left: 69px;
    margin-top: 46px;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 12px;
    padding-left: 48px;
    padding-right: 26px;
    background: #fff
}

.header-middle-login::before {
    position: absolute;
    content: "";
    width: 19px;
    height: 21px;
    top: 11px;
    left: 15px;
    background: #f6b22d;
}

.header-middle-login:hover {
    color: #ee3643;
}

.header-middle-registration:hover {
    color: #ee3643;
} 

.header-middle-login:active {
    color: #cacaca;
}

.header-middle-registration:active {
    color: #cacaca;
}





/*--------Меню навигации-------*/

.header-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    background: #32425c;
    margin-bottom: 60px;
    
    
}

.header-navigation li {
    display: inline-block;
    text-align: top;
    font-size: 17px;
    line-height: 23px;
    border-bottom: 5px solid #293449;
    
}

.header-navigation a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 16px 31px;
    
}

.header-navigation a:last-child {
    padding-right: 36.5px;
}

.header-navigation a:hover {
    background: #293449;
}

.header-navigation a:active {
    background: #1d2739;
    color: #a8abaf;
}



/*---Блоки каталога------*/

.catalog-item {
    float: left;
    height: 123px;
    width: 300px;
        
}

.slider-wrap {
    float: left;
}

.catalog-item h2 {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-top: 23px;
    padding-left: 24px;
    margin-bottom: 12px;
    white-space: nowrap;
    
}

.catalog-item a {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    display: inline-block;
    min-width: 135px;
    height: 28px;
    text-align: center;
    padding-top: 10px;
    background-color: rgba(100,100,100,.2);
    
    margin-left: 25px;
    margin-bottom: 22px;
}

.catalog-item a:hover {
    background-color: rgba(100,100,100,.4);
}

.catalog-item a:active {
    background-color: rgba(100,100,100,.6);
}

.catalog-item-block {
    position: relative;
    padding-right: 140px;
}

.catalog-item-block::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    top: 25px;
    right: 10px;
    background: #fff;
}

.material-item {
    background: #f6b22d;
}

.tool-item {
    background: #4aafde;
}

.tech-item {
    background: #cc79d1;
}

.sale-item {
    background: #85d179;
}

.delivery-item {
    background: #f6b22d;
}






/*------СЛАЙДЕР------*/

.slider-wrap {
    height: 267px;
    width: 620px;
    position: relative;
}

.slider-wrap > input {
    display: none;
}

.slider {
    width: inherit;
    height: inherit;
    position: relative;
    overflow: hidden;
    background-color: #785;
}


.slider-item h3 {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-top: 24px;
    padding-left: 27px;
    padding-bottom: 7px;
    color: #fff;

}

.slider-item p {
    font-size: 18px;
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    padding-left: 27px;
    color: #fff;
}

.slider-item a {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 45px;
    margin-left: 25px;
    margin-top: 120px;
    background: #ee3643;
    border-radius: 5px;
 
}

.slider-item {
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 0;
    opacity: 0;
    
}
.slider-item-punch {
    background-image: url(../image/slider-punch.jpg);
}

.slider-item-drill {
    background-image: url(../image/slider-drill.jpg);
}

.slider-wrap label {
    position: absolute;
    display: inline-block;
    z-index: 10;
    vertical-align: baseline;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
    bottom: 30px;
}


.slider-wrap label[for="point1"] {
    left: 321px;
    
}

.slider-wrap label[for="point2"] {
    left:  300px;
}


#point1:checked ~ .control label:nth-of-type(1),
#point2:checked ~ .control label:nth-of-type(2) {
    background: green;
}

#point1:checked ~ .slider > .slider-item-punch,
#point2:checked ~ .slider > .slider-item-drill {
    opacity: 1;
    z-index: 1;
}





.main-catalog div:nth-child(1),
.main-catalog div:nth-child(2),
.main-catalog div:nth-child(4) {
   
    margin-right: 20px;
}

.main-catalog div:nth-child(1),
.main-catalog div:nth-child(3),
.main-catalog div:nth-child(5) {
    
    margin-bottom: 20px;
}



/*-----------ПОПУЛЯРНЫЕ ТОВАРЫ-------*/



.main-popular {
    background: #f7f3ec;
    margin-top: 53px;
/* почему неправильно центруется conteiner?*/
}

.main-popular p {
    display: block;
    float: left;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    margin: 0;
    padding: 35px 30px;
 
}

.main-popular a {
    display: inline-block;
    float: right;
    
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 60px;
    padding-right: 55px;
    margin-right: 24px;
    margin-top: 25px;
    background: #ee3643;
    border-radius: 5px;
    cursor: pointer;
 
}


.main-popular-items ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    margin-top: 20px;
    
}

.main-popular-items li {
    display: inline-block;
    text-align: top;
    float: left;
    position: relative;
    width: 218px;
    min-height: 318px;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    
}

.main-popular-items li:last-child {
    margin-right: 0px;
}

/*разобраться с размерами картинок и отступами*/

.main-popular-items img {
    display: block;
    padding-top: 20px;
    margin: 0 auto;
    opacity: 1;
}



.main-popular-items h3 {
    font-size: 18px;
    line-height: 20px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-top: 45px;
    padding-left: 31px;
    padding-right: 30px;
    text-align: center;
   
        
}

.main-popular-items span {
    font-size: 17px;
    line-height: 18px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-top: 17px;
    text-decoration: line-through;
    text-align: center;
    display: block;
    color: #999;
}

.main-popular-items .last-price {
    font-size: 17px;
    line-height: 18px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding: 13px 16px 13px 37px;
    margin-left: 43px;
    margin-top: 13px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    background: #ee3643;
    display: inline-block;
    cursor: pointer;
   
    
}

.main-popular-items .last-price-new {
    margin-top: 48px;
    
}




.main-popular-items .last-price::after {
    content: "";
    position: absolute;
    border: 22px solid transparent;
    border-left: 22px solid #ee3643;
    right: -44px;
    top: 0px
        
}


/*всплывающие закладки:*/

.hidden-links {
    position: absolute;
    width: 136px;
    top: 45px;
    left: 42px;
    display: none;
    
}


.hidden-links .hidden-buy {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
    background: #63a63e;
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 49px;
    padding-right: 45px;
    margin-bottom: 7px;
    border-bottom: 3px solid #367315;
    border-radius: 3px;
    cursor: pointer;
    
}

.hidden-links .hidden-buy:hover {
    background: #5fbb2d;
}


.hidden-links .hidden-buy:active {
    background: #518534;
    border-bottom: 3px solid #518534;
}

.hidden-links .hidden-tab {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: #32425c;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 33px;
    padding-right: 29px;
    border: 3px solid #63a63e;
    border-radius: 3px;
    cursor: pointer;
}

.hidden-links .hidden-tab:hover {
    border: 3px solid #32425c;
}

.hidden-links .hidden-tab:active {
    border: 3px solid #32425c;
    opacity: 0.5;
}


.main-popular-items li:hover > .hidden-links {
    
    display: block;
}

.main-popular-items li:hover > img {
    
    opacity: 0;

}





/*----ПОПУЛЯРНЫЕ ПРОИЗВОДИТЕЛИ-----*/

.main-popular-producer {
    background: #f7f3ec;
    margin-top: 21px;
    margin-bottom: 20px;
}

.main-popular-producer p {
    display: block;
    float: left;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    margin: 0;
    padding: 35px 30px;
}

.main-popular-producer a {
    display: inline-block;
    float: right;
    
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 60px;
    padding-right: 55px;
    margin-right: 24px;
    margin-top: 25px;
    background: #ee3643;
    border-radius: 5px;
    cursor: pointer;
}

.producer-items ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.producer-items li {
    float: left;
    width: 218px;
    height: 143px;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    margin-bottom: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.producer-items li:nth-child(4),
.producer-items li:nth-child(8) {
    margin-right: 0;
}

.producer-items li:nth-child(8) {
    margin-bottom: 85px;
}




/*--------СЕРВИСЫ--------*/

.main-service {
    background: #f2f6f8;
}

.main-service h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 34px;
    padding-top: 68px;
    color: #000;
}

.main-service-description {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
    margin-bottom: 70px;
    
}

.main-service-points ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    width: 240px;
    margin-right: 80px;
    margin-bottom: 100px;
}


/*делать ссылками иди button type button?*/

.service-points-left a {
    display: block;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background: #32425c;
    padding-bottom: 22px;
    padding-left: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
      
    
}

.service-points-left .active
{
    color: #32425c;
    background: #fff;
    border-top: none;
}




.service-points-right {
    float: left;
   
}

.service-credit,
.service-garant  {
    display: none;
}





.service-delivery h3,
.service-garant h3,
.service-credit h3 {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #32425c;
    margin: 0;
    padding:0;
    margin-bottom: 29px;
}

.service-delivery p,
.service-garant p,
.service-credit p {
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    
    
    
}

.main-service .container {
    position: relative;
}



.service-point-img {
    
    position: absolute;
    background-image: url("image/service-delivery.png");
    width: 469px;
    height: 261px;
    right: 0;
    bottom: 40px
    
}

.service-garant-img {
    position: absolute;
    background-image: url("image/service-guarant.png");
    width: 439px;
    height: 261px;
    right: 0;
    bottom: 53px
}

.service-credit-img {
    position: absolute;
    background-image: url("image/service-credit.png");
    width: 469px;
    height: 261px;
    right: 0;
    bottom: 53px
}


/*-------ОПИСАНИЕ + КОНТАКТЫ------------*/


.main-description-left {
    float: left;
    width: 540px;
    margin-right: 100px;
}

.main-description-left h3 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 31px;
    margin-top: 82px;
    
}

.main-description-left p {
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
    margin: 0;

}

.transport-paragraph {
    padding-top: 26px;
}






.main-contact-right {
    float: left;
    width: 300px;
}

.main-contact-right h3 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 31px;
    margin-top: 82px;
}

.main-contact-right p {
     font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
    margin: 0;
    margin-bottom: 31px;
}

.main-description-left ul {
    list-style: none;
    font-size: 0;
    margin: 0;
    padding: 0;
    margin-top: 22px;
}


.main-description-left li {
    position: relative;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 22px;
    padding-left: 36px;
    
}

.main-description-left li::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    left: 0;
    top: 8px;

}

.main-description-left a {
    display: inline-block;
    text-align: top;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 14px;
    
    
    background: #ee3643;
    border-radius: 5px;
    
    
}

.main-contact-right .writeus {
    display: inline-block;
    text-align: top;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 63px;
    padding-right: 60px;
    
    background: #ee3643;
    border-radius: 5px;
    margin-top: 37px;
    margin-bottom: 87px;
}

/*--------НИЖНЯЯ НАВИГАЦИЯ------------*/

.main-down-navigation {
    background-color: #32425c;
}

.down-navigation-top .down-link {
    display: block;
    float: left;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    
    color: #fff;
    background: #ee3643;
    text-decoration: none;
    box-shadow: 0 5px 0 #b52933;
    
    padding: 21px 42px;
    margin-bottom: 34px;
    
}


.down-navigation-top nav {
    float: left;
    margin-left: 173px;
}

.down-navigation-top ul {
    list-style: none;
    font-size: 0;
    margin: 0;
    padding: 0;
    
}

.down-navigation-top li {
    display: inline-block;
    text-align: top;
    
    font-size: 18px;
    line-height: 24px;
    
    margin-top: 42px;
    margin-right: 56px;
 
}

.down-navigation-top li:last-child {
    margin-right: 0;
}

.down-navigation-1 a {
    text-decoration: none;
    cursor: pointer;
    color: #f1f5f7;
    
}

.down-navigation-1 a:hover {
    border-bottom: 1px solid #f1f5f7;
}

.down-navigation-1 a:active {
    opacity: 0.6;
    border-bottom: none;
}
/*--------------------------------------*/

.down-navigation-bottom p {
    display: block;
    float: left;
    
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-bottom: 53px;
    margin-right: 90px;
    
    
}

.down-navigation-bottom nav {
    float: left;
}

.down-navigation-bottom ul {
    list-style: none;
    font-size: 0;
    margin: 0;
    padding: 0;
}

.down-navigation-bottom li {
    display: inline-block;
    text-align: top;
    
    font-size: 18px;
    line-height: 24px;
    
    margin-right: 60px;
    
}

.down-navigation-bottom li:last-child {
    margin-right: 0;
}

.down-navigation-2 a {
    text-decoration: none;
    cursor: pointer;
    color: #ffd180;
}

.down-navigation-2 a:hover {
    border-bottom: 1px solid #ffd180;
}

.down-navigation-2 a:active {
    opacity: 0.6;
    border-bottom: none;
}


/*--------FOOTER--------------*/

footer {
    background-color: #293449;
}

footer p {
    float: left;
    margin: 0;
    padding: 0;
    
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin-top: 37px;
    margin-bottom: 33px;
    margin-right: 162px;
    
}

.footer-social {
    float: left;
}

.footer-social a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    font-size: 0;
    background-color: #212a3a;
    cursor: pointer;
    
    width: 42px;
    height: 42px;
    border-radius: 50%;
    
    margin-top: 35px;
    margin-right: 5px;
    
}

.footer-social a:hover {
    background-color: #ee3643;
}


.footer-feedback {
    float: left;
    width: 140px;
    margin-top: 39px;
    margin-left: 114px;
  
}

.footer-feedback span,
.footer-design span
{
    font-size: 16px;
    line-height: 18px;
    color: #fff;
}

.footer-feedback a,
.footer-design a{
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    cursor: pointer;
    color: #ffd180;
} 

.footer-feedback a:hover,
.footer-design a:hover {
    border-bottom: 1px solid #ffd180;
}

.footer-feedback a:active,
.footer-design a:active {
    color: #ee3643;
    border-bottom: none;
}

.footer-design {
    float: left;
    width: 100px;
    margin-top: 39px;
    margin-left: 42px;
}







/*++++++++++PAGE2++++++++++++++*/

.filled-basket {
    background-color: #ee3643;
}

.header-middle-user {
    width: 300px;
    float: left;
    margin-left: 50px;
    margin-top: 46px;
}

.header-middle-user .header-middle-name {
    position: relative;
    display: block;
    font-size: 21px;
    line-height: 21px;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    cursor: pointer;
    padding-left: 48px;
    padding-top: 14px;
    padding-bottom: 13px;
    margin-bottom: 10px;
    
}

.header-middle-user .header-middle-name::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 11px;
    left: 15px;
    background: #f6b22d;
    
}

.header-middle-user .header-middle-name::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 11px;
    right: 10px;
    background: #f6b22d;
    
}

.header-middle-orders {
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
    cursor: pointer;
    color: #32425c;
    
    margin-left: 19px;
    margin-right: 15px;
    
}

.header-middle-office {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
    cursor: pointer;
    color: #32425c;
    padding-left: 18px;
}

.header-middle-office::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    background-color: #32425c;
    border-radius: 50%;
    top: 50%;
    left: 0px;
}

/*+++++++++++++Хлебные крошки++++++++*/

.home-link {
    display: block;
    float: left;
    margin-right: 15px;
    
}

.breadcrumbs ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    display: block;
    font-size: 0;

}

.breadcrumbs li {
    position: relative;
    display: inline-block;
    text-align: top;
    font-size: 13px;
    line-height: 18px;
    padding-left: 25px;
    
}

.breadcrumbs li > a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    
}

.breadcrumbs li::before {
    position: absolute;
    content: "";
    width: 7px;
    height: 1px;
    background-color: #cdd1d8;
    transform: rotate(-45deg);
    top: 11px;
    left: 8px;
    
    
}

.breadcrumbs li::after {
    position: absolute;
    content: "";
    width: 7px;
    height: 1px;
    background-color: #cdd1d8;
    transform: rotate(45deg);
    top: 6px;
    left: 8px;
    
    
}


/*+++++++++main-inner-caption++++++++++++++*/

.main-inner-caption {
    font-size: 31px;
    line-height: 31px;
    color: #32425c;
    background-color: #f2f6f8;
    text-transform: uppercase;
    padding: 34px 30px;
    margin-bottom: 20px;
}


/*+++++++ФИЛЬТР++++++++++*/


.main-inner-filter {
    float: left;
    width: 220px;
    margin-right: 20px;
}

.inner-filter-caption {
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    background-color: #f7f3ec;
    padding-left: 19px;
    padding-top: 12px;
    padding-bottom: 13px;
    margin: 0;
    border-radius: 5px;
}


.main-price h3 {
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    padding: 13px 0;
    margin: 0;
    
}


.main-range-control {
    position: relative;
    background-color: #f7f3ec;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 39px 20px;
    margin-bottom: 11px;
    

}

.control-scale {
    width: 160px;
    height: 2px;
    margin: 0 auto;
    background: linear-gradient(to right, #00ca74 80%, #d7dcde 20%)
    
}

.control-scale .toggle {
    position: absolute;
    content: "";
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 1px #d7d4ce;
}


.max-toggle {
    top: 30px;
    left: 140px;
}

.min-toggle {
    top: 30px;
    left: 20px;
}


.min-toggle::before, .max-toggle::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ababab;
    top: 8px;
    left: 8px;
} 

/*ПОЛЯ ДИАПАЗОНА ЦЕНЫ*/


.price-control-left {
    float: left;
    margin-bottom: 25px;
    
}

.main-price-control span {
    display: block;
    float: left;
    margin-left: 11px;
    line-height: 40px;
   
    
    
}

.price-control-right {
    float: right;
}

.main-price-control input {
    width: 95px;
    height: 38px;
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #283136;
    font-size: 16px;
    line-height: 22px;

}


.main-price .price {
    border-bottom: 1px solid #e5e5e5;
    
}

.main-price-producers {
    border-bottom: 1px solid #e5e5e5;
}



/*ЧЕКБОКСЫ*/

.producers-checkbox,
.power-radio{
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 17px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "PT Sans", "Arial", sans-serif;
}

.producers-checkbox:last-child,
.power-radio:last-child {
    margin-bottom: 20px;
}

.producers-checkbox input[type="checkbox"],
.power-radio input[type="radio"] {
    display: none;
}




.producers-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    width: 19px;
    height: 19px;
    border: 2px solid #c1c1c1;
    border-radius: 5px;
    left: 0px;
    
}


.producers-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    position: absolute;
    content: "";
    width: 17px;
    height: 2px;
    background-color: #c1c1c1;
    transform: rotate(-55deg);
    top: 8px;
    left: 4px;
}

.producers-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background-color: #c1c1c1;
    transform: rotate(65deg);
    top: 10px;
    left: 1px;
}


/*РАДИОБАТТОНЫ*/

.power-radio input[type="radio"] + .radio-indicator {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 4px solid #c1c1c1;
    border-radius: 50%;
    left: 0;
}

.power-radio input[type="radio"]:checked + .radio-indicator::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #c1c1c1;
    top: 5px;
    left: 5px;
    
}

.main-price-power {
    margin-bottom: 75px;
    
}

.main-price-btn {
    font-size: 13px ;
    line-height: 18px;
    text-transform: uppercase;
    font-family: "PT Sans", "Arial", sans-serif;
    background-color: #fff;
    padding: 11px 38px;
    outline: none;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    cursor: pointer;
    
}



















.main-inner-catalog {
    float: left;
    width: 700px;
}







